:root {
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;


    --textoSizeCuerpos: 12px;
    --textoSizeTitulares: 24px;
    --textoSizePrecios: 18px;
    --textoSizeDescuentos: 16px;
    --textoSizeDescripciones: 16px;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    background-color: var(--ColorGrisClaro);
}
* {
    box-sizing: border-box;
}
header{
    font-family: 'Roboto';
}